body {
  font-family: Arial, sans-serif;
  background-image: url("pexels-pixabay-271639.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  margin-top: 150px;
  background: lightblue;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #cceb46ef;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  width: 30%;
  padding: 10px;
  background-color: #007bff;
  color: black;
  border: yellow;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #a05276;
  color: whitesmoke;
}



